@tailwind base;
@tailwind components;
@tailwind utilities;

.secondDiv {
    background-image: url(https://images.unsplash.com/photo-1674420628423-bf7a338af32d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);
    background-position: center;
    background-size: cover;
}