* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-color: #9b8989;
}

body #heading {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
}

section {
    width: 828px;
    height: 499px;
    background: #FEFEFE;
    border-radius: 20px;
    position: relative;
    margin: 80px auto;
    padding: 16px 30px;
}

section .prev,
.next {
    color: #7F5AF0;
    font-weight: bolder;
    font-size: 24px;
    cursor: pointer;
}

section .head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-block: 20px;
}

section h2 {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    color: #7F5AF0;
}

section .bottom {
    margin: 30px;
}

section ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

section ul li {
    width: calc(100%/7);
}

section .days li {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: #16161A;
    position: relative;
}

section .days li.holls::before{
    content: '';
    padding: 3px;
    background-color: rgb(73, 55, 238);
    cursor: pointer;
    position: absolute;
    bottom: -10px;
    border-radius: 50%;
    left: 48px;
}

section .days li.holls2::before{
    content: '';
    padding: 3px;
    background-color: yellow;
    cursor: pointer;
    position: absolute;
    bottom: -10px;
    border-radius: 50%;
    left: 48px;
}

section .days li.inactive {
    opacity: .5;
}

section .weeks {
    margin-bottom: 20px;
}

section .weeks li {
    font-weight: 500;
    font-size: 16px;
    color: #16161A
}

#holidays {
    width: 436px;
    height: 475px;
    position: absolute;
    right: -350px;
    top: 30px;
    display: none;
    background: #16161A;
    border-radius: 20px;
    padding: 50px;
}

#holidays .week,
.upcoming {
    font-weight: 300;
    font-size: 24px;
    text-align: start;
    color: #7F5AF0;
}

#holidays .upcoming {
    margin-block: 20px;
}

#holidays .holiday,
.month {
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
}

#holidays .month{
    position: relative;
}

#holidays .month::after{
    content: 'TH';
    position: absolute;
    top: 3px;
    font-size: 16px;
}

#holidays .holiday {
    margin-block: 50px;
}

#holidays .holidays {
    margin-bottom: 30px;
}

#holidays .holnames {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

#holidays .holdays {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 300;
}

#holidays .points {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background: #0000CC;
}
