* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border-radius: 50px;
}

::-webkit-scrollbar-track-piece {
    background-color: #C2D2E4;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    border-radius: 50px;
    background-color: #0A4C95;
}

body {
    background-color: blueviolet;
}

button {
    cursor: pointer;
    border: none;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 883px;
    height: 716px;
    background: #FFFFFE;
    box-shadow: 0px 4.67778px 4.67778px #FFFFFF;
    border-radius: 23.3889px;
    overflow-y: auto;
}

section h1 {
    text-align: center;
    margin-bottom: 30px;
}

section .add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 20px;
}

section .add label {
    font-weight: 500;
    font-size: 18.7111px;
    color: #0F0E17;
}

section .add input,
select {
    width: 278px;
    height: 34px;
    padding-left: 10px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    background: #FFFFFF;
    border: 2px solid #E53170;
    border-radius: 10px;
}

section input,
select:focus {
    outline: none;
}

input[type="text"]:disabled {
    background-color: transparent;
}

section .add button {
    padding: 5px 20px;
    background: #E53170;
    border-radius: 15px;
    margin-top: 26px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

section .todos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

section .todos .todolist {
    width: 415.61px;
    height: 84.2px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9.35556px #E6E6E6;
    border-radius: 11.6944px;
}

section .todos .todolist .text {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    align-items: center;
}

section .todos .todolist .text input {
    font-weight: 400;
    display: block;
    border: none;
    font-size: 16px;
    color: #0F0E17;
    margin-bottom: 10px;
}

section .todos .todolist .text span {
    padding: 4px 10px;
    font-weight: 600;
    font-size: 11.6944px;
    color: #571032;
    background: #FCEEF5;
    border-radius: 4.67778px;
}

.edit{
    color:#F25F4C;
    font-size: 20px;
}

.delete{
    color:#F25F4C;
    font-size: 20px;
    
}